**/venv/

*.pyc
**/__pycache__/

**/instance/

**/.pytest_cache/
**/.coverage
**/htmlcov/

**/dist/
**/build/
*.egg-info/

**/.idea/

**/.DS_Store
**/node_modules/
**/bower_modules/

# Don't track build output
**/dist/